<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
</head>
<body>
<div align="center">
    <h1>Your Basket</h1>

    <br>
    <form th:action="@{'/home'}">
        <button type="submit"> Home</button>
    </form>
    <br>
    <form th:action="@{/menu/{id}(id=${userId})}">
        <button type="submit"> Menu</button>
    </form>

    <table th:cellpadding="15px">
        <thead>
        <tr>
            <th> ID </th>
            <th> OrderID </th>
            <th> Product </th>
            <th> Quantity </th>
            <th> Data </th>
        </tr>
        </thead>
        <tbody>

            <tr th:each="order : ${orders}" >

                <form th:action="@{/customerOrders/{id}(id=${userId})}" th:object="${orders}" method="get">
                    <td><span th:text="${order.id}" > </span></td>
                    <td><span th:text="${order.orderID}" > </span></td>
                    <td><span th:text="${order.productID}"> </span></td>
                    <td><span th:text="${order.quantity }">  </span></td>
                    <td><span th:text="${order.data }">  </span></td>
                </form>

                    <td><form th:action="@{/deleteOrder/{orderId}(orderId=${order.id})}" method="post">
                        <input type="submit" value="Delete">
                    </form></td>
            </tr>

        <br>
        </tbody>
        <br>
    </table>

    <form th:action="@{/email/{id}(id=${userId})}">
        <label>If you send the order, you will receive confirmation via e-mail </label>
        <br><button type="submit"> Send order</button><br>
    </form>

    <br>
    <form th:action="@{/addNewOrder/{id}(id=${userId})}">
        <button type="submit"> Add New Order</button>
    </form>


    <br>
    <form th:action="@{/history/{id}(id=${userId})}">
        <button type="submit"> History</button>
    </form>

</div>
</body>

</html>